* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --DarkNavy: #1a2a33;
  --SemiDarkNavy: #1f3641;
  --Silver: #a8bfc9;
  --SilverHover: #dbe8ed;
  --LightBlue: #31c3bd;
  --lightBlueHover: #65e9e4;
  --lightYellow: #f2b137;
  --lightYellowHover: #ffc860;
  --silverHover: #dbe8ed;
  --inset: #10212a;
  --insetYellow: #cc8b13;
  --insetLightBlue: #118c87;
  --insetSilver: #6b8997;
  --Outfit: "Outfit", sans-serif;
}
body {
  background-color: var(--DarkNavy);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  font-size: small;
}
.play_game {
  display: none;
}
button:hover {
  cursor: pointer;
}
.game_logo {
  width: 90%;
  text-align: center;
}
.pickplayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.pickplayercard {
  margin: 20px 0px 20px 0px;
  background-color: var(--SemiDarkNavy);
  display: flex;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px;
  width: 90%;
  box-shadow: 0px -3px 0px 0px var(--inset) inset;
  color: var(--Silver);
  line-height: 20px;
}
.pickplayerimages {
  display: flex;
  background-color: var(--DarkNavy);
  width: 90%;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}
#image-o {
  background-color: var(--Silver);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}
#image-x {
  width: 50%;
  display: flex;
  padding: 15px 0px 15px 0px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 9px;
  transition: ease-in-out 0.4s;
  border: none;
  background: transparent;
}
#image-x:hover {
  background: rgba(168, 191, 201, 0.05);
}
.gametype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.play_against_cpu {
  background-color: var(--lightYellow);
  box-shadow: 0px -5px 0px 0px var(--insetYellow) inset;
}
.play_against_person {
  background-color: var(--LightBlue);
  box-shadow: 0px -5px 0px 0px var(--insetLightBlue) inset;
}
.play_against_cpu,
.play_against_person {
  margin-top: 20px;
  padding: 25px 30px 25px 30px;
  border-radius: 12px;
  color: var(--DarkNavy);
  text-align: center;
  width: 100%;
  line-height: 25px;
  transition: ease-in-out 0.4s;
  border: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s;
}
.play_against_cpu:hover,
.nextRound:hover {
  background-color: var(--lightYellowHover);
}
.play_against_person:hover {
  background-color: var(--lightBlueHover);
}
.play_against_cpu:active,
.nextRound:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--insetYellow) inset;
}
.play_against_person:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--insetLightBlue) inset;
}
/* Section to actually play the game */
.keypad {
  width: 100%;
  height: 400px;
  display: grid;
  justify-content: center;
  grid-template-columns: 110px 110px 110px;
  grid-template-rows: 120px 120px 120px;
  gap: 15px;
  text-align: center;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--SemiDarkNavy);
  box-shadow: 0px -5px 0px 0px var(--inset) inset;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.keys:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--inset) inset;
}
.scores_board {
  margin-top: 35px;
  width: 100%;
  height: 70px;
  display: grid;
  justify-content: center;
  grid-template-columns: 110px 110px 110px;
  gap: 15px;
  color: var(--DarkNavy);
}
.turns {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 110px 110px 110px;
  gap: 15px;
  color: var(--Silver);
}
#youwin,
#tie,
#cpuwin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--LightBlue);
  border: 1px solid var(--LightBlue);
  border-radius: 7px;
}
#youwin {
  background-color: var(--LightBlue);
  border: 1px solid var(--LightBlue);
}
#tie {
  background-color: var(--Silver);
  border: 1px solid var(--Silver);
}
#cpuwin {
  background-color: var(--lightYellow);
  border: 1px solid var(--lightYellow);
}
.whosturn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--SemiDarkNavy);
  box-shadow: 0px -3px 0px 0px var(--inset) inset;
  border: none;
  border-radius: 7px;
}
.whosturn p {
  margin-left: 10px;
}
.restart {
  display: flex;
  justify-content: end;
}
.restart_game {
  height: 33px;
  width: 30px;
  transition: all 0.2s;
}
.restart_game:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--insetSilver) inset;
}
.restart_game:hover,
.quit:hover,
.cancel:hover {
  background-color: var(--SilverHover);
}
.restart_game,
.quit,
.cancel {
  background-color: var(--Silver);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px -3px 0px 0px var(--insetSilver) inset;
  border: none;
}

/* Modal */
.winnerModal,
.restartModal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  backdrop-filter: blur(7px);
}
.winnerCard {
  height: 266px;
  background-color: var(--SemiDarkNavy);
  width: 100%;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restartModalCard {
  height: 266px;
  background-color: var(--SemiDarkNavy);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.restartHeader {
  font-family: var(--Outfit);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.winnerHeader {
  color: var(--lightYellow);
  font-family: var(--Outfit);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5px;
}
.restartHeader {
  color: var(--Silver);
}
.modal_button {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}
.quit {
  box-shadow: 0px -3px 0px 0px var(--insetSilver) inset;
  width: 70px;
}
.cancel {
  width: 139px;
}
.yesRestart,
.nextRound {
  width: 151px;
}
.nextRound,
.yesRestart {
  box-shadow: 0px -3px 0px 0px var(--insetYellow) inset;
  border-radius: 7px;
  border: none;
  background-color: var(--lightYellow);
  margin-left: 16px;
}
.quit,
.nextRound,
.cancel,
.yesRestart {
  font-family: var(--Outfit);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--DarkNavy);
  height: 52px;
}
.yesRestart:hover {
  background-color: var(--lightYellowHover);
}
.yesRestart:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--insetYellow) inset;
}
.quit:active,
.cancel:active {
  transform: scale(0.98);
  box-shadow: 0px -2px 0px 0px var(--insetSilver) inset;
}
.message_to_player {
  color: var(--Silver);
  font-family: var(--Outfit);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .pickplayercard {
    width: 80%;
  }
  .pickplayerimages {
    width: 90%;
    padding: 7px;
  }
  .gametype {
    width: 80%;
  }
  /* Section to actually play the game */
  .keypad {
    height: 400px;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 120px 120px 120px;
  }
  .scores_board {
    margin-top: 15px;
    height: 60px;
    grid-template-columns: 130px 130px 130px;
  }
  .turns {
    grid-template-columns: 130px 130px 130px;
  }
  /* Modal */
  .winnerHeader,
  .restartHeader {
    font-size: 40px;
    margin-left: 20px;
  }
  .modal_button {
    padding-top: 30px;
  }
}
/* Section to pick who you want to be and who you want to play with */
@media only screen and (min-width: 1000px) {
  span {
    font-size: x-small;
  }
  .pickplayer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  .pickplayercard {
    padding: 20px 0px 20px;
    width: 70%;
  }
  .pickplayerimages {
    width: 90%;
    margin: 20px 0px 20px 0px;
    padding: 7px;
  }

  #image-x {
    padding: 7px 0px 7px 0px;
    margin-right: 5px;
  }
  .gametype {
    width: 70%;
  }
  .play_against_cpu,
  .play_against_person {
    margin-top: 20px;
    padding: 15px 80px 15px 80px;
  }
  /* Section to actually play the game */
  .keypad {
    width: 460px;
    height: 300px;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 100px 100px 100px;
  }
  .scores_board {
    margin-top: 50px;
    width: 460px;
    height: 45px;
    grid-template-columns: 110px 110px 110px;
  }
  .turns {
    margin-bottom: 15px;
    width: 460px;
    height: 35px;
    grid-template-columns: 110px 110px 110px;
    gap: 15px;
  }
  /* Modal */
  .winnerHeader,
  .restartHeader {
    margin-left: 20px;
  }
  .nextRound,
  .yesRestart {
    margin-left: 16px;
  }
  .message_to_player {
    padding-bottom: 30px;
  }
}
